<div>This is a single contact edit form.</div>
<div>{{contact.name}} can be reached at {{contact.phone}}</div>

<form ng-submit="save()" class="form-horizontal">
    
  <div class="control-group">
    <label class="control-label" for="name">Name:</label>
    <div class="controls">
      <input ng-model="contact.name" id="name" />
    </div>
  </div>
    
  <div class="control-group">
    <label class="control-label" for="phone">Phone:</label>
    <div class="controls">
      <input ng-model="contact.phone" id="phone" />
    </div>
  </div>
  
  <div class="form-actions">
    <button class="btn btn-primary" ng-disabled="recipeForm.$invalid">Save</button>
    <button type="button" ng-click="remove()" ng-show="!recipe.id" class="btn">Delete</button>
  </div>
</form>